<div class="card" appShowMore>
  <div class="card-title">
    {{ title ? title : "This is card title" }}
  </div>
  <div class="card-description">
    {{
      description
        ? description
        : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates praesentium aliquam voluptatum laudantium excepturi
    consequatur, iste modi? Quia rem illum, alias repudiandae, nisi enim nam dolorum unde repellat, laudantium quod. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Totam temporibus alias sint ipsam accusantium vel magnam aliquid
    provident dolorum veniam dolor, expedita magni minus voluptas quidem tenetur eum optio. Esse?"
    }}
  </div>
</div>

<!-- <div class="card" appShowMore>
  <div class="card-title">This is card title2</div>
  <div class="card-description">
    Totam temporibus alias sint ipsam accusantium vel magnam aliquid provident
    dolorum veniam dolor, expedita magni minus voluptas quidem tenetur eum
    optio. Esse?
  </div>
</div> -->
