<!-- <p>test works!</p>
<p>Last Value : {{ lastValue }}</p>
<button (click)="condition = !condition">Click Here</button>
<p *appUnless="condition">The condition is {{ condition }}</p> -->

<!-- <tabs (tabChange)="onTabChange($event)">
  <tab
    *ngFor="let tab of tabs"
    [tabInfo]="tab"
  >
    This is the first tab
  </tab>
</tabs> -->

<ng-template #componentHolder></ng-template>

<!-- <div class="push-bottom">
  <a routerLink="/signup">signup</a>
  <button (click)="onAddingTab()">Add tab</button>
</div> -->

<form class="form">

  <app-input-with-icon>
    <i class="icon">&times;</i>
    <input iconInput type="text" class="something">
  </app-input-with-icon>

  <app-input-with-icon>
    <i class="icon">&times;</i>
    <input iconInput type="text">
  </app-input-with-icon>

  <app-input-with-icon>
    <i class="icon">&times;</i>
    <input iconInput type="text">
  </app-input-with-icon>

</form>

